<h1>Take a Quiz!</h1>
<p>Hi User.name! Choose an answer for each question and click submit when youre done!</p>
<form (ngSubmit)="onSubmit()" #formObject='ngForm'>
  <div *ngFor='let question of testSheet, let idx = index'>
      <p>{{question.question}} :</p>
      <input
        id="a{{idx}}"
        value='{{question.answers[0]}}'
        type="radio"
        name='{{idx}}'
        [(ngModel)]='test.answer[idx]'
        #answer[idx]='ngModel'
        checked required
      />
      <label for="a{{idx}}">{{question.answers[0]}}</label>
      <input
        id="b{{idx}}"
        value='{{question.answers[1]}}'
        type="radio"
        name='{{idx}}'
        [(ngModel)]='test.answer[idx]'
        #answer[idx]='ngModel'
        checked required
      />
      <label for="b{{idx}}">{{question.answers[1]}}</label>
      <input
        id="c{{idx}}"
        value='{{question.answers[2]}}'
        type="radio"
        name='{{idx}}'
        [(ngModel)]='test.answer[idx]'
        #answer[idx]='ngModel'
        checked required
      />
      <label for="c{{idx}}">{{question.answers[2]}}</label>
  </div>
  <input type="submit"
  [disabled]="formObject.invalid">
</form>
