<h1>My Questions</h1>
<div *ngFor='let questionInstance of myQuestionListings, let idx = index' class='questionwrapper'>
    <div id='question'>
        <form (submit)="update(idx)" #formObject='ngForm'>
          <label for="question">Question<span *ngIf='question?.valid !== true'>{{question?.errors | json}}</span></label>
          <input
          type="text"
          name="question"
          required
          minlength="15"
          maxlength="255"
          [(ngModel)]="questionInstance.question"
          #question='ngModel'
          />
          <label for="Canswer">Correct Answer<span *ngIf='Canswer?.valid !== true'>{{Canswer?.errors | json}}</span></label>
          <input
          type="text"
          name="Canswer"
          required
          minlength="1"
          maxlength="255"
          [(ngModel)]="questionInstance.Canswer"
          #Canswer='ngModel'
          />
          <label for="Fanswer1">Fake Answer 1<span *ngIf='Fanswer1?.valid !== true'>{{Fanswer1?.errors | json}}</span></label>
          <input
          type="text"
          name="Fanswer1"
          required
          minlength="1"
          maxlength="255"
          [(ngModel)]="questionInstance.Fanswer1"
          #Fanswer1='ngModel'
          />
          <label for="Fanswer2">Fake Answer 2<span *ngIf='Fanswer2?.valid !== true'>{{Fanswer2?.errors | json}}</span></label>
          <input
          type="text"
          name="Fanswer2"
          required
          minlength="1"
          maxlength="255"
          [(ngModel)]="questionInstance.Fanswer2"
          #Fanswer2='ngModel'
          />
          <input value="Update" type="submit"
          [disabled]="formObject.invalid">
        </form>
        <button (click)='delete(questionInstance._id)'>delete</button>
    </div>
</div>
